body {
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


#content {
    margin-top: 70px; 
}

#drop-area {
    border: 2px dashed #999;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

#playlist {
    list-style: none;
    padding: 0;
    max-height: 400px; 
    overflow-y: auto;
}

li {
    margin-bottom: 10px;
}

li span {
    margin-right: 10px;
    cursor: pointer;
}

li button {
    margin-left: 10px;
}


li.played {
    background-color: #d3ffd3;
}

#current-station {
    margin-bottom: 20px;
    font-weight: bold;
}
